.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.form-container h2 {
    margin-top: 10px;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container hr {
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    border: none;
    border-top: 1px solid var(--secondary-color)
}

.form-container input {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.form-container button {
    padding: 0.8rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.form-container error {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.form-container p {
    margin-top: 1rem;
    margin-bottom: 60px;
    font-size: 0.9rem;
}

.form-container p span {
    color: var(--primary-color);
    cursor: pointer;
    text-decoration: underline;
}

.logo {
    display: block;
    margin: 40px auto 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.github-logo {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 16px;
    left: 16px;
    margin: 0;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, filter 0.2s, opacity 0.2s;;
    opacity: 0.5;
}

.github-logo:hover {
    opacity: 1;
}