body, html, .App { 
  margin: 0; 
  padding: 0; 
  height: 100vh; 
  width: 100%; 
  font-family: 'Quicksand', sans-serif;
}

:root {
  --primary-color: #6598d8;
  --secondary-color: #e2e2e2;
  --tertiary-color: #888;
  --white-color: #fff;
  --background-color: #fafafa;
  --text-color: #333;
}

.App {
  animation: fadeIn 0.5s ease-in-out;
  background-color: var(--background-color);
}



/* Layout components */

.layout {
  display: flex;
  min-height: 100vh;
  background: var(--background-color);
}

.sidebar {
  width: 300px;
  padding: 20px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input {
  margin: 0;
  background-color: var(--background-color);
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%; /* Make the input as wide as its parent */
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}



/* Sidebar */

.sidebar h1 {
  font-size: 2.5rem;
  margin: 15px 0 0 0;
}

.sidebar h3 {
  margin: 25px 0 0 0;
}

.sidebar p {
  margin: 15px 0 15px 0;
}

.sidebar p.comment {
  margin: 0 0 15px 0;
}

.sidebar .error-message {
  color: #ff6b6b;
  font-style: italic;
  align-self: center;
  margin: 30px 0 30px 0;
}



/* Tab navigation */

.tabs {
  display: flex;
  margin-bottom: 20px;
  margin-top: auto;
}

.tabs button {
  background: none;
  border: none;
  padding: 12px;
  cursor: pointer;
  color: #666;
  font-size: 1rem;
}

.tabs button:hover {
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.tabs button.active {
  font-weight: bold;
  color: var(--primary-color);
}

.tabs .profile-button {
  margin-left: auto; /* Move to the right */
  margin-right: 0px;
  background-color: white;
  padding: 0 20px 0 20px;
  border-radius: 4px;
}



/* Weather cards */

.hourly-cards, .daily-cards {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hourly-cards::-webkit-scrollbar, .daily-cards::-webkit-scrollbar {
  display: none;
}

.forecast-card {
  width: 180px;
  min-width: 60px;
  height: 120px;
  padding: 15px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
}

.forecast-card * { margin: 5px 0; }
.forecast-card img { width: 50px; height: 50px; }



/* Weather details */

.content h1 {
  font-size: 1.4rem;
  margin: 30px 10px 20px 10px;
}

.weather-details-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.detail-card {
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 140px;
  position: relative;
}

.detail-title {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.detail-main {
  display: flex;
  margin-top: 1.5rem;
}

.detail-value {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--text-color);
  line-height: 1;
}

.detail-unit {
  color: var(--text-color);
  font-size: 1rem;
  margin-left: 0.4rem;
  align-self: flex-end;
  text-align: left;
}

.detail-status {
  margin-top: auto;
  font-size: 1rem;
  color: var(--tertiary-color);
  font-weight: 500;
  padding-bottom: 0.2rem;
}

.sun-time {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sun-time-text {
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.4em;
}



/* Media query for medium to small screens */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    max-width: 100%;
    padding: 0px;
    align-items: center;
  }

  .search-form {
    width: 100%;
  }

  .search-form input {
    margin: 20px;
  }

  .sidebar h3, h1 {
    margin: 0 20px 0 20px;
  }

  .sidebar-illustration {
    width: 80%;
    max-width: 300px;
  }

  .sidebar p {
    margin: 20px;
    text-align: center;
  }

  .sidebar p.comment {
    margin: 0 20px 25px 20px;
  }

  .tabs {
    margin: 20px;
  }

  .weather-cards {
    padding: 20px;
  }

  .weather-details-grid{
    margin: 20px;
  }

  .content h1{
    margin: 20px;
  }

  .content {
    width: 100%;
    padding: 0px;
    /* Remove align-items: center; */
    display: block; /* Ensure block layout */
    min-height: 100vh; /* Prevent collapse */
  }

  .weather-details-grid {
    grid-template-columns: 1fr 1fr;
  }

}

/* Media query for very small screens */
@media (max-width: 300px) {
  .weather-details-grid {
    grid-template-columns: 1fr;
  }
}