/* App.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f7f7;
  }
  
  .layout {
    position: relative;
  }
  
  /* Navbar (header) */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-right: 300px; /* lascia spazio alla sidebar */
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* Form di ricerca */
  .search-form input {
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 14px;
    margin: 0;
  }

  .error-message {
    color: #ff4d4d; /* Rosso acceso */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    background-color: #ffe6e6; /* Sfondo rosato */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #172535;
    padding: 0;
    box-sizing: border-box;
    /* overflow-y: auto; /* utile se sidebar-element è più lunga della viewport */
  }
  
  .sidebar-element {
    width: 300px;
    height: 600px;
    background-color: #172535;
    margin: 0;
  }
  
  /* Container */
  .container {
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* spazio tra blocchi */
    position: relative;
    left: calc((100% - 700px - 300px) / 2); /* Centra il container */
    /*margin-right: 300px; */
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    align-content: flex-start;
    justify-content: center;
  }
  
  /* Blocchi generali */
  .block {
    height: 220px;
    /*margin-bottom: 20px; */
    /*border: 1px solid #bbb; */
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  /* Blocco A - largo */
  .block-a {
    width: 420px;
    display: flex;
  }
  
  /* Blocco B - stretto */
  .block-b {
    width: 200px;
    display: flex;
  }

  /* Ordine personalizzato */
  #block-1 {
    order: 1; /* Questo blocco sarà visualizzato per secondo */
  }
  
  #block-2 {
    order: 2; /* Questo blocco sarà visualizzato per primo */
  }
  
  #block-3 {
    order: 3; /* Questo blocco sarà visualizzato per terzo */
  }

  #block-4 {
    order: 4; /* Questo blocco sarà visualizzato per quarto */
  }
  
  
  
  
  
  
  
  
  
  
  
  /* Media query per tablet */
  @media (max-width: 1024px) {
    
    /* Navbar */
    .header {
      margin-right: 0; /* Rimuove lo spazio per la sidebar */
    }
  
    /* Sidebar */
    .sidebar {
      position: relative;
      width: 100vw; /* Larga quanto la viewport */
      height: 600px; /* Lunga quanto sidebar-element */
      top: 0;
      right: 0;
    }
    
    .sidebar-element {
      margin: 0 auto;
    }
  
    /* Container */
    .container {
      max-width: 460px; /* Larghezza massima del container */
      margin: 0 auto; /* Centra il container */
      padding: 20px; /* Mantiene un po' di padding */
      transform: scale(calc(100vw / 460)); /* Scala il container per adattarsi alla viewport */
      transform-origin: top left; /* Imposta l'origine della trasformazione */
      overflow-x: hidden;
      left: 0; /* Rimuove il margine sinistro */
    }

      /* Ordine personalizzato */
    #block-1 {
        order: 1; /* Questo blocco sarà visualizzato per secondo */
    }
    
    #block-2 {
        order: 2; /* Questo blocco sarà visualizzato per primo */
    }
    
    #block-3 {
        order: 4; /* Questo blocco sarà visualizzato per terzo */
    }

    #block-4 {
        order: 3; /* Questo blocco sarà visualizzato per quarto */
    }
  
  }
  
  
  @media (max-width: 460px) { /*da rivedere...*/
  
    .header {
      width: 420px;
    }
  
    .sidebar {
      width: 460px;
    }
    
  }